/* https://youtu.be/SLfhMt5OUPI */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.logo{
    font-size: 2rem;
}

.nav{
    display: flex;
    /* makes space btn ele */
    justify-content: space-between;        
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    align-items: stretch;
    color: white;
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
    display: flex;
    gap: 1rem;
}
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li .active{
    background-color: #555;
}

.logo li:hover{
    background-color: #777;
}
